@using CagnotteSolidaire.Blazor.Components.Layout
@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(PublicLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(PublicLayout)">
            <h1>Erreur 404</h1>
            <p>Cette page n'existe pas.</p>
        </LayoutView>
    </NotFound>
</Router>
